{% extends "posapp/dablock.html" %}


{% load static %}

{% block content %}




<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Discount Rates</h4>
<h6>Manage Discount Rates</h6>
</div>
<div class="page-btn">
    <a class="btn btn-added" data-bs-toggle="modal" data-bs-target="#addpayment">
        <img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add New Tax Rates
    </a>
</div></div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img">
                    </a>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                            <img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img">
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                            <img src="{% static 'assets/img/icons/excel.svg' %}" alt="img">
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                            <img src="{% static 'assets/img/icons/printer.svg' %}" alt="img">
                        </a>
                    </li>
                </ul>
</ul>
</div>
</div>
<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label>
</th>
<th>Discount name</th>
<th>Discount (%)</th>
<th>Status</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>
    {% for discount in discounts %}
    <tr>
        <td>
            <label class="checkboxs">
                <input type="checkbox">
                <span class="checkmarks"></span>
            </label>
        </td>
        <td>{{ discount.name }}</td>
        <td>{{ discount.rate }}</td>
        <td>
            <div class="status-toggle d-flex justify-content-between align-items-center">
                <input type="checkbox" id="user{{ forloop.counter }}" class="check" {% if discount.status == 'Active' %} checked {% endif %}>
                <label for="user{{ forloop.counter }}" class="checktoggle">checkbox</label>
            </div>
        </td>
        <td class="text-end">
            <a class="me-3" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editpayment{{ forloop.counter }}">
                <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
            </a>
            <a class="me-3 confirm-text" href="javascript:void(0);">
                <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
            </a>
        </td>
    </tr>
    {% endfor %}

</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="modal fade" id="addpayment" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Add Discount</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form method="post">
        {% csrf_token %}
<div class="row">
<div class="col-12">
<div class="form-group">
    <label>Discount Name<span class="mandatory">*</span></label>
    <input type="text" name="name" class="form-control">
</div>
<p class="text-danger">                                            
    {{ form.name.errors.0}}

</p>

</div>
<div class="col-12">
<div class="form-group">
    <label>Discount Rate(%)<span class="mandatory">*</span></label>
    <input type="text" name="rate" class="form-control">
</div>
<p class="text-danger">                                            
    {{ form.rate.errors.0}}

</p>

</div>
<div class="col-12">
<div class="form-group mb-0">
<label>Status</label>

<select class="select" name="status">
    <option value="">Choose Status</option>
    <option value="Active">Active</option>
    <option value="Closed">Closed</option>
</select>
</div>
<p class="text-danger">                                            
    {{ form.status.errors.0}}

</p>
</div>
</div>

</div>
<div class="modal-footer">
<button type="submit" class="btn btn-submit">Confirm</button>
</form>
<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
</div>

</div>
</div>
</div>

<div class="modal fade" id="editpayment" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Edit Discount</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="row">
<div class="col-12">
<div class="form-group">
<label>Discount Name<span class="manitory">*</span></label>
<input type="text" value="SGST 4.5%	">
</div>
</div>
<div class="col-12">
<div class="form-group">
<label>Discount Rate(%)<span class="manitory">*</span></label>
<input type="text" value="4.50">
</div>
</div>
<div class="col-12">
<div class="form-group mb-0">
<label>Status</label>
<select class="select">
<option> Active</option>
<option> InActive</option>
</select>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-submit">Update</button>
<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
</div>
</div>
</div>
</div>

{% endblock content  %}