{% extends "posapp/dablock.html" %}

{% load static %}


{% block content %}

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Brand Edit</h4>
<h6>Update your Brand</h6>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-3 col-sm-6 col-12">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="form-group">
<label>Brand Name</label>
<input class="form-control" type="text" name="name" value = {{form.name.value}} >
<p class="text-danger">{{ form.name.errors.0 }}</p>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Description</label>
<textarea class="form-control" name="description">{{ form.description.value }}</textarea>
<p class="text-danger">{{ form.description.errors.0 }}</p></div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label> Product Image</label>
<div class="image-upload">
    <input type="file" name="brand_image" value="{{form.brand_image.value}}">
<div class="image-uploads">
    <img src="{% static 'assets/img/icons/upload.svg' %}" alt="img">



<h4>Drag and drop a file to upload</h4>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="product-list">
<ul class="row">
<li>
<div class="productviews">
<div class="productviewsimg">
   {% if image_url %}
        <img src="{{ image_url }}" alt="Brand Image">
    {% else %}
        <p>No image available</p>
    {% endif %}
</div>
<div class="productviewscontent">
<div class="productviewsname">
<h2>samsung</h2>
<h3>581kb</h3>
</div>
<a href="javascript:void(0);">x</a>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="col-lg-12">
    <button type="submit" class="btn btn-submit me-2">Update</button>
    <a href="{% url 'brandlist' %}" class="btn btn-cancel">Cancel</a>
    </div>
    </form>
</div>
</div>
</div>

</div>
</div>
</div>


{% endblock content %}
